{% extends "page.html" %}


{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("auth/css/override.css") }}" type="text/css" />
{% endblock %}

{% block login_widget %}
{% endblock %}

{% block site %}
<div id="ipython-main-app" class="container">
    {% if login_available %}
      <div id="login-container" class="auth_container well">
        {% if message %}
          <div class="alert">
          {% for key in message %}
            <div class="message">
               {{message[key]}}
            </div>
          {% endfor %}
          </div>
        {% endif %}
        <div class="form-title">Login</div>
        <form action="{{base_project_url}}login?next={{next}}" method="post" class="form">

          <div class="control-group">
            <label class="control-label" for="email_input">Email</label>
            <div class="controls">
              <input type="text" name="email" id="email_input">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="password_input">Password</label>
            <div class="controls">
              <input type="password" name="password" id="password_input">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" type="submit" id="login_submit">Log in</button>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <a href="{{base_project_url}}signup" id="sign_up_link">Don't have an account? <i class="icon-arrow-right"></i> Sign up</a>
            </div>
          </div>
           <div class="control-group">
            <div class="controls">
              <a href="{{base_project_url}}forgot_password" id="forgot_password_link">Forgot Password? <i class="icon-arrow-right"></i> Reset Password</a>
            </div>
          </div>

        </form>
      </div>
    {% endif %}
<div/>

{% endblock %}


{% block script %}

<script src="{{static_url("auth/js/loginmain.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
