{% extends "page.html" %}


{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("auth/css/override.css") }}" type="text/css" />
{% endblock %}

{% block login_widget %}
{% endblock %}

{% block site %}

<div id="ipython-main-app" class="container">
  <div class="well">
    <div class="alert">Password changed successfully.</div>
    <a href="{{base_project_url}}" class="btn btn-primary">Go to Dashboard</a>
  </div>
<div/>

{% endblock %}


{% block script %}

<script src="{{static_url("auth/js/passwordmain.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
