{% extends "page.html" %}


{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("auth/css/override.css") }}" type="text/css" />
{% endblock %}

{% block login_widget %}
{% endblock %}

{% block site %}

<div id="ipython-main-app" class="container">
    {% if login_available %}
      <div id="password-reset-container" class="auth_container well">
        {% if message %}
          <div class="alert">
            {% for key in message %}
              <div class="message {{key}}">
                {{message[key]}}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <form action="{{base_project_url}}forgot_password" method="post" class="form">

          <div class="control-group">
            <label class="control-label" for="email_input">Email</label>
            <div class="controls">
              <input type="text" name="email" id="email_input">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn  btn-primary" id="email_reset_submit">Send Password Reset Link</button>
            </div>
          </div>

        </form>
      </div>
    {% endif %}
<div/>

{% endblock %}


{% block script %}

<script src="{{static_url("auth/js/passwordmain.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
