{% extends "page.html" %}


{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("auth/css/override.css") }}" type="text/css" />
{% endblock %}

{% block login_widget %}
{% endblock %}

{% block site %}

<div id="ipython-main-app" class="container">
    {% if login_available %}
        <div id="signup-container" class="well">
          <form action="{{base_project_url}}signup?next={{next}}" method="post" class="form">

            <div class="control-group">
              <label class="control-label" for="email_input">Email</label>
              <div class="controls">
                <input type="text" name="email" id="email_input">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password_input">Password</label>
              <div class="controls">
                <input type="password" name="password" id="password_input">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password_confirm_input">Confirm Password</label>
              <div class="controls">
                <input type="password" name="password_confirm" id="password_confirm_input">
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button class="btn  btn-primary" id="sign_up_submit">Sign up</button>
              </div>
             </div>
            <div class="control-group">
              <div class="controls">
                <a href="{{base_project_url}}login" id="login_link">Already have account? <i class="icon-arrow-right"></i> Log in</a>
              </div>
            </div>
          </form>
        </div>
    {% endif %}
    {% if message %}
      <div class="row">
      {% for key in message %}
        <div class="message">
           {{key}} {{message[key]}}
        </div>
      {% endfor %}
      </div>
    {% endif %}
<div/>

{% endblock %}


{% block script %}

<script src="{{static_url("auth/js/signupmain.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
